<!----start-header----->
<div class="header">
   <div class="wrap">
	<div class="top-header">
		<div class="logo">
			<a href="index.html"><img src="assets/logo.png" title="logo" /></a>
		</div>
		<div class="social-icons">
			<ul>
				<li><a href="#"><img src="assets/facebook.png" title="facebook" /></a></li>
				<li><a href="#"><img src="assets/twitter.png" title="twitter" /></a></li>
				<li><a href="#"><img src="assets/google.png" title="google pluse" /></a></li>
			</ul>
		</div>
		<div class="clear"> </div>
	</div>
	<!---start-top-nav---->
	<div class="top-nav">
		<div class="top-nav-left">
			<ul>
				<li><%= link_to "Home", root_path %></a></li>
				<li><%= link_to "About us", "index.html"%></a></li>
				<li><%= link_to "Contact us", "index.html"%></a></li>
				<div class="clear"> </div>
			</ul>
		</div>
		<div class="top-nav-right">
			<form>
				<input type="text"><input type="submit" value="" />
			</form>
		</div>
		<div class="clear"> </div>
	</div>
	<!---End-top-nav---->
</div>
</div>
<!----End-header----->
